@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary-color:#80d8ff;
    --background-color: white;
    --violet-color:rgb(141, 63, 224);
}

*{
    margin:0;
    padding:0;
    font-family:'inter',sans-serif;
    text-decoration: none;
}

body{
    height:100vh;
    text-align:center;
    background-color: var(--background-color);
    padding:2rem;

}

.header-content{
    max-width:1580px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;

}

.logo{
    display:flex;
    align-items:center;
    font-size: 2.5rem;
    font-weight: 900;
    color:rgb(141, 63, 224);
    gap: .9rem;
}

.nav{
    
    display:none;
    gap:1.9rem;
    font-size: 1.6rem;
    font-weight: 500;


}
@media  screen and (min-width:1160px) {
    .nav{
        display:flex;
    }
}
.nav-link{
    color:grey;
    transform:color .1s;
}
.nav-link:hover{
    color:black;
    font-size: 1.7rem;
}

.contact-button{
    display:none;
    
    font-weight:800;
    font-size:1.6rem;
    color:white;
    background-color:var(--primary-color);
    padding:1rem;
    border-radius: 1rem;
}

.contact-button:hover{
    background-color: rgba(0, 255, 255, 0.647);
}

@media  screen and (min-width:760px) {
    .contact-button{
        display: block;
    }
}
.menu-button{
    
  display: none;
  border:none;
}

@media  screen and (max-width:760px) {
    .menu-button{
       
        display: flex;
        border:none;
    }
}
.content{
    max-width:1580px;
    max-height:600px;
  
    margin:0 auto;

}




.main-section{
    
    display:flex;
    flex-direction: column;
    /* padding:1rem; */
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap:3rem;
}

.left-content{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    gap:1rem;
    animation: slidefromleft 1s ease forwards;
    opacity:0;

}
@keyframes slidefromleft {
    0%{
        opacity: 0;
        transform:translateX(-100%);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}

.section-label{
    color:rgb(141, 63, 224);
    font-size: 2rem;
    font-weight: bold;
}
.section-title{
    font-size:3rem;
    padding:1rem;
    font-weight:bold;

}
.section-description{
    font-size:1.4rem;
    color:rgb(90, 90, 90);
    text-align: center;
}
.button-group{
    margin:3rem;
    display:flex;
    
}
.buy-button, .check-button{
    border: none;
    font-weight:800;
    font-size:1.6rem;
    color:white;
    background-color:rgb(141, 63, 224);
    padding:1.5rem  2.5rem;
    margin:1rem;
    border-radius: 1rem;
    
    
}
.check-button{
    background-color: #4f4e4e;
}

.buy-button:hover{
    background-color: rgb(150, 78, 227);
}
.check-button:hover{
    background-color: #616161;
}


.right-content{
    display:flex;
    justify-content: center;
    align-items: center;
    

}
.section-image{
    border-radius: 2rem;
}

@media  screen and (min-width:650px) {
    .main-section{
        flex-direction: row;
    }
    .left-content{
        text-align: start;
    }
    .section-title{
        padding:0;
        font-size:4rem ;

    }
    .section-description{
        text-align: start;
        padding:0;
        font-size: 1.5rem;
    }
    .button-group{
        text-align: start;
        padding:0;
        margin-left:0;
        gap:2rem;
    }
    .buy-button,.check-button{
        margin:0;
        gap:1rem;
    }
   
}